.quote{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

.author{
    text-align: center;
    margin: 10px;
    font-size: 10px;
    font-style: italic;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.quote {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

.quote span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.quote p {
    font-size: 0.8em;
    text-decoration: aquamarine;
    color: #333;
    font-style: italic;
}